.greetingForm {
}

.inputAndButtonContainer {
}

.error {
}

.input {
    border: 1px solid gray;
}

.input:focus {
    outline : none;
}

.errorInput {
    border: 1px solid red;
    outline:none
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
